@{ 
    ViewBag.Title = "Welcome To Acme Corp!";
}

<h2>Welcome to the Acme Corporation Official site</h2><br /><br />

<h4>@Html.ActionLink("Go to form", "Form")</h4>
<h4>@Html.ActionLink("Go to submissions", "Submissions")</h4>
